@font-face {
    font-family: "iconsolata";
    src: url(../fonts/Inconsolata.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf);
}
* {
    box-sizing: border-box;
}
@font-face {
  font-family: 'sell-icon';
  src:  url('../fonts/sell-icon.eot?ze40eg');
  src:  url('../fonts/sell-icon.eot?ze40eg#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?ze40eg') format('truetype'),
    url('../fonts/sell-icon.woff?ze40eg') format('woff'),
    url('../fonts/sell-icon.svg?ze40eg#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  margin: 0;
  font-family: "iconsolata";
}
html{
  font-size: 18px;
}
.main-header {
  padding: 0 20px;
}
.main-header__title{
  text-align: center;
  font-size: 2.5em;
  margin: 10px 0;
  color: #454546;
  font-family: "Poppins";
}
.main-header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__link {
  color: #333;
}

/* Estilos del Menu */
.main-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999999;
}
.menu{
  position: absolute;
  top: 180px;
  left: 0;
  background: #212121;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
}
.menu__item {
  text-align: center;
  margin: auto;
}
.menu__link {
  padding: 20px;
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
}
.menu__link:hover {
  background: white;
  color: #212121;
}

.mostrar{
  opacity: 1;
  visibility: visible;
}

.icon-menu{
  font-size: 1.5em;
  border: 1px solid #454546; 
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto;
}
.main-header__btn{
  font-size: 16px;
  display: block;
  padding:10px 20px;
  color: #454546;
  border: 1px solid #454546;
  text-decoration: none;
}
.main-header__input{
  display: block;
  padding: 10px;
  width: 50%;
}
.main {
  padding: 0 20px;
}
/*-----CONSULTAS Y SUGRENCIAS---------*/
@media (min-width: 800px) and (max-width: 1450px){
  .center {
      width: 100%;
  }
  }
  .wrapper{
    position: relative;
  }
  .institutional{
    min-width: inherit!important;
    margin-top: 40px;
  }
  
  .bread-crumb {
    margin-top: 15px;
    line-height: 20px;
    height: 20px;
  }
  ul {
    padding-left: 0!important;
    margin: 0;
    padding: 0;
    list-style-type: disc;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  .bread-crumb ul li:first-of-type {
    font-size: 0;
    letter-spacing: 0;
  }
  .bread-crumb ul li {
    display: inline-block;
    font-size: 12px;
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: 1px;
  }
  li {
    list-style: none;
    text-align: -webkit-match-parent;
  }
  
  .bread-crumb ul li a {
    display: inline-block;
    color: #000;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .bread-crumb ul li:first-of-type a:before {
    font-size: .75rem;
    content: "Inicio";
    letter-spacing: 1px;
  }
  .bread-crumb ul li:after {
    content: "|";
    font-size: .75rem;
    width: 30px;
    text-align: center;
    display: inline-block;
  }
  .bread-crumb ul li.last {
    color: #f01612;
  }
  .box-first{
    margin:0;
    padding: 0;
  }
  .institutional{
    border-bottom: none;
    color: #333;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2.75rem;
  }
  a{
    text-decoration: none;
  }
  a:-webkit-any-link {
    cursor: pointer;
  }
/*-------- CONTENIDO ---------*/
.caja0{
  width: 310px;
  background: none;
  height: 1320px;
  float: left;
}
.caja2{
  width: 1650px;
  background: none;
  height: 1400px;
  float: left;
}
.content {
  width: 100% 0px;
  display: inline-block;
  vertical-align: top;
}
.title {
  margin-bottom: 0;
}
.title {
  margin: 210px;
  text-align: left;
}
.content .title {
  margin-top: -2px;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 38px;
}
.title h2{
  color: #333;
  font-weight: 700;
  border-bottom: 4px solid #ffda00;
  text-align: left;
  margin-left: -210px;
  font-size: 1.8rem;
  line-height: 2rem;
}
.content .title h2{
  display: inline-block;
  margin-bottom: -2px;
  line-height: 4.0625rem;
}
.content-wrapper {
  width: 100%;
  margin: auto;
  position: relative;
}
/*-------------------------------------*/
.suggestions-form-wrapper {
  width: 622px;
  margin: 22px 0;
}
.contact-title {
  margin-bottom: 25px;
}
.description {
  text-align: left;
  padding-top: 5px;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 300;
  color: #333;
}
p{
  line-height: 1.5625rem;
  margin-bottom: 25px;
}
.required-field {
  color: #f01612;
  font-style: italic;
  font-size: .6875rem;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.875rem;
}
h3 {
  font-size: 1.3125rem;
  font-weight: 600;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}
.font-icn {
  font-weight: 400;
  margin-right: 12px;
  color: #f01612;
  font-size: 1.875rem;
}
.font-icn {
  font-family: font-icon;
  -webkit-font-smoothing: antialiased;
}
span {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
}
.content-wrapper .suggestions-form-wrapper .input-wrapper:nth-child(odd) {
  margin-right: 22px;
}
.contact-form .input-wrapper.radio {
  height: 72px;
}
.suggestions-form-wrapper .input-wrapper:nth-child(2)
{
  margin-right: 22px;
}
.contact-form .clear {
  clear: both;
}
.contact-form .input-wrapper {
  font-weight: 400;
  font-size: .875rem;
  margin-bottom: 20px;
  width: 300px;
  float: left;
}
.contact-form .human-check {
  border-bottom: 2px solid #f2f2f2;
  margin: 17px 0 21px;
  width: 622px;
  display: inline-block;
}
.institutional.store.contact .content-wrapper .contact-form .button.submit {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 1px;
  width: 150px;
  border: 0;
}
.institutional.store.contact .content-wrapper .contact-form .clear {
  clear: both;
}
.sugerencias input.button.submit[disabled=disabled] {
  color: #88898a!important;
  cursor: inherit;
  background-color: #fde44f!important;
}
input[type="submit"] {
  -webkit-appearance: none;
}
input[disabled] {
  opacity: 1;
}
input {
  display: block;
  margin: 0;
  font: inherit;
  outline: 0;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper .label-text {
  color: #000;
  margin-bottom: 9px;
  line-height: 18px;
  display: block;
  height: 18px;
}
span {
  white-space: normal;
  vertical-align: top;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper.radio input[type="radio"] {
  display: none;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper input{
  -webkit-appearance: none;
  border-radius: 0;
}
input {
  display: block;
  margin: 0;
  font: inherit;
  outline: 0;
  padding: 0;
  margin: 0;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper.radio input[type="radio"]+label {
  display: inline-block;
  cursor: pointer;
  margin-right: 30px;
  font-weight: 300;
  height: 36px;
  padding: 9px 0;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper.radio input[type="radio"] {
  display: none;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper.radio input[type="radio"]+label {
  display: inline-block;
  cursor: pointer;
  margin-right: 30px;
  font-weight: 300;
  height: 36px;
  padding: 9px 0;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper.radio input[type="radio"]+label span:first-child {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border: 1px solid #b5b5b5;
  border-radius: 100%;
  position: relative;
}
span {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper.radio input[type="radio"]:checked+label span:first-child:before {
  background-color: #f01612;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper.radio input[type="radio"]+label span:first-child:before {
  font-size: 2.5625rem;
  line-height: .5625rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  transition: background-color .1s;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper.radio input[type="radio"]+label span:first-child {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border: 1px
solid #b5b5b5;
  border-radius: 100%;
  position: relative;
}
span {
  white-space: normal;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper>label {
  display: inline;
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.institutional.store.contact .content-wrapper .contact-form .input-wrapper select {
  visibility: hidden;
}
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px!important;
}
select {
  display: block;
  font-family: "Source Sans Pro",sans-serif;
}
.label-text {
  color: #000;
  margin-bottom: 9px;
  line-height: 18px;
  line-height: 1.125rem;
  display: block;
  height: 18px;
}
.institutional.store.contact .content-wrapper .contact-form .input-wrapper.hidden .select2 {
  width: 300px!important;
}
/*-------- ESTILOS DEL FOOTER --------*/

.main-footer{
    float: left;
    background: #151515;
    color: white;
    padding: 30px 20px;
  }
  .footer__title{
    color: white;
    border-bottom: 1px dotted #555;
    padding-bottom: 20px;
  }
  .footer__txt {
    color: #555;
  }
  .footer__link{
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  }
  
  .footer__input{
    background: #151515;
    width: 100%;
    display: block;
    padding: 20px;
    border: 1px solid #555;
  }
  
  .footer__texto
  {
      color: white;
  }
  .copy {
    color: #555;
  }
  
  .container-footer{
      width: 100%;
      background: rgb(12, 12, 12);
      display: flex;
      justify-content: space-between;
      padding: 20px;
  }
  .copyright{
      margin: auto;
      color: #c7c7c7;
      
  }
  .copyright a{
      text-decoration: none;
      color: white;
      font-weight: bold;
      cursor: pointer;
  }
  
  
  /*Estilos para tablet*/
  @media screen and (min-width:768px) {
    .slider{
      height: 600px;
    }
    .editor__item{
      height: 250px;
    }
    .container-tips{
      margin: 50px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  /*Estilos para web*/
  
  @media screen and (min-width:1024px) { 
    .container{
      width: 1000px;
      margin: auto;
    }
    .icon-menu {
      display: none;
    }
    .main-header .container--flex{
      display: flex;
      align-items: center;
    }
    .main-header__container{
      flex-wrap: wrap;
      align-content: flex-start;
    }
    .main-header__txt{
      width: 100%;
    }
    .main-header__container:nth-child(2){
      order: -1;
      width: 25%;
    }
    .main-header__container:nth-child(3){
      width: 25%;
      padding: 0 20px;
    }
    .main-header__title {
      width: 100%;
      font-size: 4em;
      margin: 0;
      border-bottom: 1px solid #ccc;
    }
    .main-header__link {
      margin-bottom: 20px;
    }
    .main-header__btn{
      width: 120px;
      padding: 10px;
      margin-bottom: 20px;
    }
    .main-header__input{
      width: 85%;
    }
    .main-nav{
      visibility: visible;
      opacity: 1;
      width: 100%;
      margin-top: 20px;
    }
    .menu {
      position: static;
      width: 100%;
      display: flex;
      background: none;
    }
    .menu__link{
      color: #333;
    }
    .menu__link:hover{
      background: #333;
      color: white;
    }
    .container-products {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
    .product__img {
      height: 150px;
    }
    .container__testimonials{
      font-size: 1.3em; 
    }
    .container-editor{
      display: flex;
      justify-content: space-between;
    }
    .editor__item{
      width: 48%;
    }
    .main-footer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }
    .copy {
      grid-column-start: span 4;
      text-align: center;
    }
  }
  
  @media screen and (min-width:1280px) { 
    .container{
      width: 1200px;
    }
    .main-header__container:nth-child(3){
      padding-left: 60px;
    }
    .main-header__container:nth-child(2){
      font-size: 1.3em;
    }
    .slider{
      height: 500px;
      font-size: 1.5em;
    }
  }
  
  @media screen and (min-width:1600px) { 
    .container{
      width: 1500px;
    }
    .main-header__container:nth-child(3){
      padding-left: 150px;
    }
    .main-header__container:nth-child(2){
      font-size: 1.5em;
    }
    .slider{
      height: 600px;
    }
    .product__img {
      height: 200px;
    }
  }
    
    .container-footer{
      float: left;
      width: 100%;
      background: rgb(12, 12, 12);
      display: flex;
      justify-content: space-between;
      padding: 20px;
  }
  .copyright{
      margin: auto;
      color: #c7c7c7;
      
  }
  .copyright a{
      text-decoration: none;
      color: white;
      font-weight: bold;
      cursor: pointer;
  }